/* Color Palette
#FEF9E1
#E5D0AC
#A31D1D
#6D2323 */

body {
	background-color: #fef9e1;
	text-align: center;
	padding: 0%;
	margin: 0%;
}

#hero {
	background-image: url(assets/images/hutao1.jpg);
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	border: 0;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: white;
	text-align: center;
	font-size: 5rem;
	margin-bottom: 0;
}

#hero h2 {
	color: white;
	text-align: center;
}

#intro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

#intro img {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 150px;
	border-radius: 50%;
}

#intro h2 {
	text-align: center;
	color: #6d2323;
	font-weight: lighter;
	font-size: 30px;
}

#intro p {
	margin-top: 0;
	font-size: 18px;
}

#gallery {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 120vh;
	background-color: #6d2323;
	text-align: center;
}

#gallery h2 {
	color: white;
	font-size: 30px;
	margin-bottom: 0;
}

#gallery .container {
	display: grid;
	max-width: 800px;
	background-color: #fef9e1;
	grid-template-columns: repeat(3, 2fr);
	grid-template-rows: repeat(3, 1fr);
	aspect-ratio: 1 / 1;
	padding: 10px;
	gap: 10px;
	overflow: hidden;
}

#gallery .container img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	border-radius: 5px; 
}

#gallery .container img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	border-radius: 5px; 
}

.h2line {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.tao1 {
	order: 0;
	grid-column: span 2;
}

.tao2 {
	order: 4;
	grid-column: span 2;
}

.tao3 {
	order: 1;
	grid-row: span 2;
}

.tao4 {
	order: 2;
	grid-row: span 2;
}

.tao5 {
	order: 3;
}

#contact {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
#contact h2 {
	color: #6d2323;
	font-size: 40px;
}

#contact p {
	margin-top: 0;
	font-size: 20px;
}

.contact-button {
	background-color: #6d2323;
	color: #fef9e1;
	border-radius: 10%;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
	margin-top: 10px;
	border: 0px white;
}
